body{
    
    font-size: 20px;
    }

.imagemprincipal{width: 100%;}

.destaque{color: red;
}

.principal{background-color: gray;
    text-align: center;}

.itens {
    font-style: italic;
}

ul  {
    display: inline-block;
}

.beneficio {width: 100%;}

h2 {text-align: center;}
